/dist
/tmp
/out-tsc
/bazel-out
/data

/node_modules
npm-debug.log
yarn-error.log

.idea/
.project
.classpath
.c9/
*.swp
*.swo

.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/*.user
.vscode/*.user.json
.vscode/vscode.ipynb

.env
.env.*
!**/.env.template
!**/.env.*.template

/.angular/cache
.sass-cache
.eslintcache
web.config
*.log
*.pfx
*.key
*.cer

.DS_Store
Thumbs.db